menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"

config DATA_PROCESSING_THREAD_STACK_SIZE
    int "Data processing thread stack size"
    default 1024

config DATA_PROCESSING_THREAD_PRIORITY
    int "Data processing thread priority"
    default 1

endmenu
